.free {
  padding: 56px 0 70px;
  width: 50%;
  background-color: $color-default-black;
  color: $color-default-white;
}

.free__title {
  margin: 0 0 20px;
  font-weight: 800;
}

.free__form {
  max-width: 410px;
}
