.free {
  padding: 56px 0 70px;
  width: 50%;
  color: $color-default-white;
  background-color: $color-default-black;

  @include vp-1199 {
    width: 100%;
  }

  .container {
    @include vp-1365 {
      padding: 0 7.54vw;
    }

    @include vp-1199 {
      padding: 0 133px;
    }
  }
}

.free__container {
  max-width: 410px;

  @include vp-1199 {
    margin: 0 auto;
    max-width: 600px;
  }
}

.free__title {
  margin: 0 0 20px;
  font-weight: 800;

  @include vp-1199 {
    font-weight: 700;
  }

  @include vp-767 {
    font-weight: 600;
  }
}
