.intro {
  color: $color-default-white;

  background: conic-gradient(
    from 150.87deg at 16.03% 39.06%,
    #b80027 -46.69deg,
    #003d85 32.24deg,
    #b80027 313.31deg,
    #003d85 392.24deg
  );
}

/* Intro Header */

.intro__header {
  padding: 30px 0 25px;
  display: flex;
  justify-content: space-between;

  @include vp-1199 {
    padding: 33px 0 25px;
  }

  @include vp-767 {
    padding: 10px 0 10px;
  }
}

.intro__logo {
  svg {
    width: 122px;
    height: 44px;
  }

  @include vp-1199 {
    height: 34px;

    svg {
      width: 80px;
      height: 17px;
    }
  }

  @include vp-767 {
    svg {
      width: 66px;
      height: 24px;
    }
  }
}

.intro__contacts {
  a {
    display: block;
    margin-bottom: 5px;
    font-family: $ff-alumni-sans;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;

    @include vp-1199 {
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.02em;
    }

    @include vp-767 {
      margin: 6px 0 0;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.02em;
    }

    @include interactive-1;
  }
}

/* Intro Content */

.intro__content {
  padding: 0 0 50px 20px;
  display: flex;
  align-items: flex-start;

  @include vp-1199 {
    padding: 0 0 82px;
    justify-content: center;
  }

  @include vp-767 {
    padding: 0 0 76px;
    justify-content: center;
  }
}

.intro__description {
  margin: 69px 64px 0 0;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    margin: 44px 32px 0 0;
  }

  @include vp-767 {
    margin: 57px 0 0;
    width: 100%;
  }
}

.intro__description-content {
  margin: 0 0 49px;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 16px;
  justify-items: flex-end;
  justify-content: center;

  @include vp-1199 {
    margin: 0 0 37px;
    row-gap: 9px;
  }

  @include vp-767 {
    margin: 0 0 25px 0;
    row-gap: 14px;
  }
}

.intro__description p {
  margin: 0 51px 0 0;
  max-width: 260px;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  @include vp-1199 {
    margin: 0 4px 0 0;
    font-size: 28px;
    line-height: 34px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 30px;
    max-width: none;
  }
}

.intro__description h2 {
  margin: 0 0 0 16px;
  width: min-content;
  font-family: $ff-alumni-sans;
  font-weight: 800;
  font-size: 96px;
  line-height: 110px;
  letter-spacing: 2.4px;
  text-align: end;
  text-transform: uppercase;
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  @include vp-1199 {
    margin: 0 0 0 22px;
    font-size: 74px;
    line-height: 86px;
    text-transform: none;
    letter-spacing: 1.5px;
  }

  @include vp-767 {
    margin: 0 2px 0 0;
    letter-spacing: 1.8px;
    max-width: 187px;
    text-align: start;
    direction: rtl;
  }
}

.intro__description ul {
  margin: 122px 0 0 0;
  padding: 0;
  max-width: 115px;
  list-style: none;
  font-size: 14px;
  line-height: 150%;
  direction: rtl;
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  @include vp-1199 {
    margin: 89px 0 0 0;
  }

  @include vp-767 {
    margin: 78px -8px 0 0;
  }
}

.intro__image {
  position: relative;
  margin: -48px 0 0 0;
  width: 500px;
  aspect-ratio: 5 / 5.56;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @include vp-1365 {
    margin: calc(-3.6vw + (1366px - 100vw) * 0.2) 0 0 0;
    width: 36vw;
  }

  @include vp-1199 {
    margin: 0;
  }

  @include vp-1023 {
    margin: -10px 0 0 0;
    width: 42vw;
    aspect-ratio: 3.24 / 3.91;

    img {
      object-fit: cover;
    }
  }

  @include vp-767 {
    display: none;
  }
}

.intro__button {
  margin: 0 0 0 auto;
  padding: 20px 10px;
  min-width: 230px;
  color: $color-default-white;
  border: 4px solid $color-default-white;

  @include vp-1199 {
    margin: 0 -3px 0 auto;
    min-width: 185px;
  }

  @include vp-767 {
    margin: 0;
    width: 100%;
  }

  @include interactive--shadow-white;
}
