.price-card {
  padding: 7px;
  background: $color-default-white;
  display: flex;
}

.price-card__container {
  padding: 57px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-default-white;

  @include vp-767 {
    padding: 42px 42px 45px;
  }
}

.price-card__title {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;

  @include vp-767 {
    font-size: 22px;
    line-height: 110.16%;
  }
}

.price-card__description {
  margin: 0 0 65px;
  line-height: 150%;
  color: $color-grey-2;

  @include vp-767 {
    margin: 0 0 54px;
  }
}

.price-card__price {
  position: relative;
  margin: 0 0 33px;

  @include vp-767 {
    margin: 0 -5px 29px 0;
  }

  & .shadow {
    position: absolute;
    top: -53px;
    left: -20px;
    font-weight: 700;
    font-size: 100px;
    line-height: 150%;
    color: $color-grey-3;
    opacity: 0.5;

    @include vp-767 {
      font-size: 80px;
      top: -44px;
      left: -17px;
    }
  }
}

.price-card__number {
  position: relative;
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
  color: $color-blue-3;

  @include vp-767 {
    font-size: 48px;
  }
}

.price-card__rub {
  position: relative;
  font-weight: 700;
  font-size: 58px;
  line-height: 150%;
  z-index: 1;

  @include vp-767 {
    font-size: 46px;
  }
}

.price-card__button {
  padding: 27px 20px;
  min-width: 206px;
  border: none;
  box-shadow: inset 2px 2px $color-default-black, inset -2px -2px $color-default-black;

  @include interactive--shadow-black;
}

.price-card:hover {
  background: linear-gradient(130deg, #ed0233 12.6%, #003eb7 90.31%);

  .price-card__button {
    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
    color: $color-default-white;
    box-shadow: none;

    @include interactive--shadow-black;
  }
}
