.price {
  background: $color-grey;
}

.price__container {
  padding: 115px 0 120px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-1199 {
    padding: 100px 60px;
  }

  @include vp-767 {
    padding: 65px 0 70px;
  }

  &::before {
    content: "";
    position: absolute;
    right: -210px;
    bottom: -96px;
    width: 320px;
    height: 380px;
    background: url("../../img/price/pancake.png") 0 0/320px auto no-repeat;
    transform: rotate(150deg);

    @include vp-1199 {
      right: -70px;
      transform: rotate(150deg) scale(0.9);
    }

    @include vp-767 {
      display: none;
    }
  }
}

.price__title {
  margin: 0 0 5px -5px;

  @include vp-1199 {
    margin: 0 0 5px -15px;
  }

  @include vp-767 {
    margin: 0 0 5px -10px;
  }
}

.price__tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  width: 100%;
}

.price__controls {
  position: relative;
  margin: 0 0 36px;
  display: flex;

  @include vp-1199 {
    margin: 0 0 45px;
  }

  @include vp-767 {
    margin: 0 0 36px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(120, 120, 120, 0.2);
  }
}

.price__button {
  position: relative;
  margin: 0;
  padding: 15px 0 13px;
  font-size: 20px;
  line-height: 150%;
  background-color: $color-transparent;
  border: none;
  cursor: pointer;
  user-select: none;
  opacity: 0.5;

  @include vp-1199 {
    font-size: 18px;
  }

  @include vp-767 {
    font-size: 16px;
  }

  &:not(:last-child) {
    margin: 0 46px 0 0;

    @include vp-1199 {
      margin: 0 55px 0 0;
    }

    @include vp-767 {
      margin: 0 45px 0 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color-transparent;
  }

  &.is-active {
    opacity: 1;
    pointer-events: none;
  }

  &.is-active::before {
    background-color: $color-red;
  }

  @include interactive-1;

  transition: opacity $trans-default, box-shadow $trans-default;

  @include hover-focus {
    &::before {
      background-color: $color-default-black;
    }

    &:active {
      opacity: 0.4;
    }
  }

  &:active {
    opacity: 0.4;
  }
}

.price__content {
  width: 100%;
}

.price__cards {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;

  @include vp-1365 {
    gap: 2.93vw;
  }

  @include vp-1199 {
    flex-direction: column;
    align-items: center;
    gap: 41px;
  }

  @include vp-767 {
    gap: 37px;
  }
}

.price__card {
  width: 360px;
  flex: 0 0 auto;

  @include vp-1199 {
    width: 442px;
  }

  @include vp-767 {
    width: 100%;
    max-width: 442px;
  }
}
