.reviews__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__swiper-wrapper {
  margin: 0 auto;
  position: relative;
  width: 560px;

  @include vp-1199 {
    width: calc(73.7vw + (566px - 73.7vw) * 0.5);
  }

  @include vp-767 {
    width: calc(70.6vw + (70.6vw - 226px) * 0.2);
  }
}

.reviews__swiper {
  @include vp-767 {
    width: 70.6vw;
  }
}
