.socials {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: $color-default-white;
    border-radius: 50%;

    @include interactive-1;
    @include interactive--shadow-white;
  }

  svg {
    color: $color-black;
  }
}
