.swiper-button--next {
  right: -65px;
  left: auto;

  @include vp-1199 {
    right: -50px;
  }

  @include vp-767 {
    right: -40px;
  }
}

.swiper-button--prev {
  right: auto;
  left: -65px;

  @include vp-1199 {
    left: -50px;
  }

  @include vp-767 {
    left: -40px;
  }
}

.swiper-button {
  &::before,
  &::after {
    transition: color $trans-default;
    color: $color-grey-4;
    font-size: 40px;
    font-weight: 400;
  }

  @include interactive-1;

  @include hover-focus {
    &::before,
    &::after {
      color: $color-red;
    }

    @include active {
      transform: scale(0.9);
    }
  }

  &:active {
    transform: scale(0.9);

    &::before,
    &::after {
      color: $color-red;
    }
  }
}
