.trainer-card {
  position: relative;
  margin: 0 auto;
  width: 260px;
  height: 294px;
  background-color: $color-default-black;

  @include vp-1365 {
    width: 19vw;
    height: auto;
    aspect-ratio: 2.6 / 2.94;
  }

  @include vp-1199 {
    width: 268px;
    height: 294px;
  }

  @include vp-767 {
    width: 100%;
    max-width: 268px;
    height: 274px;
  }

  &:hover,
  &:focus-within {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    .trainer-card__content {
      background-color: rgba($color-default-black, 0.9);

      p,
      ul {
        display: block;
      }
    }
  }
}

.trainer-card__photo {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.trainer-card__content {
  padding: 20px 46px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-default-white;
  background-color: $color-transparent;
  overflow-y: auto;

  @include vp-1365 {
    padding: 1.46vw calc(3.37vw + (3.37vw - 46px) * 2);
  }

  @include vp-1199 {
    padding: 20px 46px;
  }

  @include vp-767 {
    padding: 20px 28px;
  }

  /* width */
  &::-webkit-scrollbar {
    width: 10.5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-default-black;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid $color-default-black; /* should match background, can't be transparent */
    background-color: $color-default-white;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color-red;
  }
}

.trainer-card__content h3 {
  margin: auto 0 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}

.trainer-card__content p {
  display: none;
  margin: 0 0 32px;
  line-height: 150%;
  opacity: 0.6;

  @include vp-1365 {
    margin: 0 0 2.34vw;
  }

  @include vp-1199 {
    margin: 0 0 32px;
  }
}

.trainer-card__content ul {
  display: none;
  margin: 0 0 auto;
  padding: 0 0 0 24px;
  font-size: 14px;
  line-height: 150%;
}

.trainer-card__content li {
  &:not(:last-child) {
    margin: 0 0 14px;
  }
}
