.video__preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.video__frame {
  width: 100%;
  height: 100%;
}

.video__button {
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 27.5%;
  aspect-ratio: 1 / 1;
  background: url("../../img/about/play.png") 0 0/contain no-repeat;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  @include vp-767 {
    width: 22.8%;
  }

  @include interactive-1;
  @include interactive--shadow-white;
}

[data-video] .video__frame {
  display: none;
}

[data-video].is-active .video__frame {
  display: block;
}

[data-video].is-active .video__preview {
  display: none;
}

.no-js .video__button {
  display: none;
}
